stepFunctions/applyWMLEdit.asl.yaml
---
Comment: Command step-function to apply an edit to an asset file
StartAt: Define Defaults
States:
    "Define Defaults":
        Type: Pass
        Next: Apply Defaults
        ResultPath: "$.inputDefaults"
        Parameters:
            options:
                check: false
            message: "applyWMLEdit"
            connectionId: ""
            requestId: ""
            player: ""
            tag: "Asset"
    "Apply Defaults":
        Type: Pass
        Next: Assign Address
        ResultPath: "$"
        Parameters:
            "args.$": "States.JsonMerge($.inputDefaults, $$.Execution.Input, false)"
    "Assign Address":
        Type: Task
        Next: Check Address
        Resource: "${AddressLookupFunctionArn}"
        Parameters:
            "assetIds.$": "States.Array($.args.assetId)"
            "player.$": "$.args.player"
            "tag.$": "$.args.tag"
        ResultPath: "$.addressList"
        Retry:
            -
                ErrorEquals:
                    - States.TaskFailed
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 1
        Catch:
            -
                ErrorEquals:
                    - States.ALL
                Next: Notify of Failure
    "Check Address":
        Type: Choice
        Choices:
            -
                Variable: "$.addressList[0]"
                IsPresent: false
                Next: Notify of Failure
        Default: Extract First Address
    "Extract First Address":
        Type: Pass
        Parameters:
            "address.$": "$.addressList[0].address"
        ResultPath: "$.toMerge"
        Next: Merge Address
    "Merge Address":
        Type: Pass
        Parameters:
            "args.$": "States.JsonMerge($.args, $.toMerge, false)"
        ResultPath: "$"
        Next: Request Lock
    "Request Lock":
        Type: Task
        Resource: "${WMLFunctionArn}"
        Parameters:
            "message": "requestLock"
            "AssetId.$": "$.args.AssetId"
        ResultPath: "$.lockResult"
        Next: Is Lock Secured
    "Is Lock Secured":
        Type: Choice
        Choices:
            Variable: "$.lockResult.seecured"
            BooleanEquals: true
            Next: Apply Edit
        Default: Check For Timeout
    "Check For Timeout":
        Type: Choice
        Choices:
            Variable: "$.lockResult.timeoutCounter"
            NumericGreaterThan: 5
            Next: Timeout
        Default: Recheck Lock
    "Recheck Lock":
        Type: Task
        Resource: "${WMLFunctionArn}"
        Parameters:
            "message": "checkLock"
            "AssetId.$": "$args.AssetId"
            "lock.$": "$.lockResult.lock"
            "timeoutCounter.$": "$.lockResult.timeoutCounter"
        ResultPath: "$.lockResult"
        Next: Is Lock Secured
    "Apply Edit":
        Type: Task
        Next: Yield Lock
        Resource: "${WMLFunctionArn}"
        Parameters:
            "message": "applyEdit"
            "schema.$": "$.args.schema"
        Catch:
            -
                ErrorEquals:
                    - States.ALL
                Next: Notify of Failure
        ResultPath: "$.applyResults"
    "Yield Lock":
        Type: Task
        Resource: "${WMLFunctionArn}"
        Parameters:
            "message": "yieldLock"
            "lock.$": "$.lockResult.lock"
        ResultPath: "$.lockResult"
        Next: Done
    "Timeout":
        Type: Task
        Next: Failure
        Resource: "arn:aws:states:::sns:publish"
        Parameters:
            TopicArn: "${TopicArn}"
            Message: "{}"
            MessageAttributes:
                Type:
                    DataType: String
                    StringValue: Error
                RequestId:
                    DataType: String
                    "StringValue.$": "$.args.requestId"
                ConnectionIds:
                    DataType: String.Array
                    "StringValue.$": "States.JsonToString(States.Array($.args.connectionId))"
                Error:
                    DataType: String
                    StringValue: "Timeout"
    "Notify of Failure":
        Type: Task
        Next: Failure
        Resource: "arn:aws:states:::sns:publish"
        Parameters:
            TopicArn: "${TopicArn}"
            Message: "{}"
            MessageAttributes:
                Type:
                    DataType: String
                    StringValue: Error
                RequestId:
                    DataType: String
                    "StringValue.$": "$.args.requestId"
                ConnectionIds:
                    DataType: String.Array
                    "StringValue.$": "States.JsonToString(States.Array($.args.connectionId))"
                Error:
                    DataType: String
                    StringValue: "Error while parsing WML"
    Failure:
        Type: Fail
    Done:
        Type: Succeed
