stepFunctions/cacheAssets.asl.yaml
---
Comment: Command step-function to execute cache of assets into Ephemera storage
StartAt: Define Defaults
States:
    "Define Defaults":
        Type: Pass
        Next: Apply Defaults
        ResultPath: "$.inputDefaults"
        Parameters:
            connectionId: ""
            requestId: ""
    "Apply Defaults":
        Type: Pass
        Next: Check Options
        ResultPath: "$"
        Parameters:
            "args.$": "States.JsonMerge($.inputDefaults, $$.Execution.Input, false)"
    "Check Options":
        Type: Choice
        Choices:
            -
                Variable: "$.args.options"
                IsPresent: True
                Next: Check for Addresses
        Default: Default options
    "Default options":
        Type: Pass
        Parameters:
            updateOnly: false
            check: false
        ResultPath: "$.args.options"
        Next: Check for Addresses
    "Check for Addresses":
        Type: Choice
        Choices:
            -
                Variable: "$.args.addresses"
                IsPresent: True
                Next: Cache Ephemera
        Default: Assign Addresses
    "Assign Addresses":
        Type: Task
        Next: Cache Ephemera
        Resource: "${AddressLookupFunctionArn}"
        Parameters:
            "assetIds.$": "$.args.assetIds"
        ResultPath: "$.args.addresses"
        Retry:
            -
                ErrorEquals:
                    - States.TaskFailed
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 1
        Catch:
            -
                ErrorEquals:
                    - States.All
                Next: Notify of Failure
    "Cache Ephemera":
        Type: Task
        Next: Done
        Resource: "${EphemeraFunctionArn}"
        Parameters:
            "message": "cacheAssets"
            "assetIds.$": "$.args.assetIds"
            "addresses.$": "$.args.addresses"
            "options.$": "$.args.options"
        Catch:
            -
                ErrorEquals:
                    - States.ALL
                Next: Decache
        ResultPath: null
    Decache:
        Type: Task
        Next: Notify of Failure
        Resource: "${EphemeraFunctionArn}"
        Parameters:
            "message": "decacheAssets"
            "assetIds.$": "$.args.assetIds"
    "Notify of Failure":
        Type: Task
        Next: Failure
        Resource: "arn:aws:states:::sns:publish"
        Parameters:
            TopicArn: "${TopicArn}"
            Message: "{}"
            MessageAttributes:
                Type:
                    DataType: String
                    StringValue: Error
                RequestId:
                    DataType: String
                    "StringValue.$": "$.args.requestId"
                ConnectionIds:
                    DataType: String.Array
                    "StringValue.$": "States.JsonToString(States.Array($.args.connectionId))"
                Error:
                    DataType: String
                    StringValue: "Error while caching assets"
    Failure:
        Type: Fail
    Done:
        Type: Succeed
