stepFunctions/heal.asl.yaml
---
Comment: Command step-function to initiate a player heal
StartAt: Heal Player
States:
    "Heal Player":
        Type: Task
        Next: Supplement Update Arguments
        Resource: "${DiagnosticsFunctionArn}"
        Parameters:
            type: "HealPlayer"
            player.$: "$$.Execution.Input.player"
        ResultPath: "$.healResults"
    "Supplement Update Arguments":
        Type: Pass
        Next: Update Ephemera
        Parameters:
            type: "Player"
        ResultPath: "$.healResults"
    "Update Ephemera":
        Type: Task
        Next: Done
        InputPath: "$.healResults"
        Resource: "${UpdateEphemeraFunctionArn}"
    Done:
        Type: Succeed
