stepFunctions/llmGenerate.asl.yaml
---
Comment: Command step-function to generate LLM outputs
StartAt: Define Defaults
States:
    "Define Defaults":
        Type: Pass
        Next: Apply Defaults
        ResultPath: "$.inputDefaults"
        Parameters:
            connectionId: ""
            requestId: ""
    "Apply Defaults":
        Type: Pass
        Next: Check Name
        ResultPath: "$"
        Parameters:
            "args.$": "States.JsonMerge($.inputDefaults, $$.Execution.Input, false)"
    "Check Name":
        Type: Choice
        Choices:
            -
                Variable: "$.args.name"
                IsPresent: True
                Next: Create Prompt
        Default: Notify of Failure
    "Create Prompt":
        Type: Task
        Next: Invoke Model
        Resource: "${LargeLanguageModelFunctionArn}"
        Parameters:
            type: RoomGenerate
            "name.$": "$.args.name"
        Catch:
            -
                ErrorEquals:
                    - States.ALL
                Next: Notify of Failure
        ResultPath: "$.results"
    "Invoke Model":
        Type: Task
        Resource: "arn:aws:states:::bedrock:invokeModel"
        Parameters:
            ModelId: "arn:aws:bedrock:us-east-1::foundation-model/amazon.titan-text-express-v1"
            Body:
                "inputText.$": "$.results.prompt"
                textGenerationConfig:
                    maxTokenCount: 300
                    temperature: 0.5
                    topP: 0.9
        ResultPath: "$.results"
        Next: Parse Results
    "Parse Results":
        Type: Task
        Resource: "${LargeLanguageModelFunctionArn}"
        Parameters:
            type: ParseRoomGenerate
            "RequestId.$": "$.args.requestId"
            "ConnectionId.$": "$.args.connectionId"
            "results.$": "$.results"
        Next: Done
        Catch:
            -
                ErrorEquals:
                    - States.ALL
                Next: Notify of Failure
    "Notify of Failure":
        Type: Task
        Next: Failure
        Resource: "arn:aws:states:::sns:publish"
        Parameters:
            TopicArn: "${TopicArn}"
            Message: "{}"
            MessageAttributes:
                Type:
                    DataType: String
                    StringValue: Error
                RequestId:
                    DataType: String
                    "StringValue.$": "$.args.requestId"
                ConnectionIds:
                    DataType: String.Array
                    "StringValue.$": "States.JsonToString(States.Array($.args.connectionId))"
                Error:
                    DataType: String
                    StringValue: "Error while generating room description"
    Failure:
        Type: Fail
    Done:
        Type: Succeed
