stepFunctions/messageSync.asl.yaml
---
Comment: Iterator to page through messageDelta queries and deliver to a user connection
StartAt: Start
States:
    Start:
        Type: Pass
        Next: Query
        Parameters:
            LastEvaluatedKey: null
            RemainingLoops: 10
            "Target.$": "$.Target"
            "ConnectionId.$": "$.ConnectionId"
            "StartingAt.$": "$.StartingAt"
        ResultPath: "$"
    Query:
        Type: Task
        Next: Deliver
        Resource: "arn:aws:states:::aws-sdk:dynamodb:query"
        Parameters:
            TableName: "${MessageDeltaTable}"
            KeyConditionExpression: "Target = :target and DeltaId >= :start"
            ExpressionAttributeValues:
                ":target":
                    "S.$": "$.Target"
                ":start":
                    "S.$": "$.StartingAt"
            "ExclusiveStartKey.$": "$.LastEvaluatedKey"
            Limit: 50
        ResultPath: "$.Query"
    Deliver:
        Type: Task
        Next: Check for more
        Resource: "${DeliverMessageSyncFunctionArn}"
        ResultPath: null
        Retry:
            -
                ErrorEquals:
                    - States.TaskFailed
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 1
    "Check for more":
        Type: Choice
        Choices:
            -
                Variable: "$.Query.LastEvaluatedKey"
                IsPresent: True
                Next: Update LastEvaluatedKey
        Default: Done
    "Update LastEvaluatedKey":
        Type: Pass
        Next: Repeat
        Parameters:
            "LastEvaluatedKey.$": "$.Query.LastEvaluatedKey"
            "RemainingLoops.$": "States.MathAdd($.RemainingLoops, -1)"
            "Target.$": "$.Target"
            "ConnectionId.$": "$.ConnectionId"
            "StartingAt.$": "$.StartingAt"            
        ResultPath: "$"
    Repeat:
        Type: Choice
        Choices:
            -
                Variable: "$.RemainingLoops"
                NumericGreaterThan: 0
                Next: Query
        Default: Done
    Done:
        Type: Succeed

