stepFunctions/parseWML.asl.yaml
---
Comment: Command step-function to parse a WML file into JSON
StartAt: Define Defaults
States:
    "Define Defaults":
        Type: Pass
        Next: Apply Defaults
        ResultPath: "$.inputDefaults"
        Parameters:
            options:
                check: false
            images.$: "States.Array()"
            uploadName: ""
            message: "parseWML"
    "Apply Defaults":
        Type: Pass
        Next: Check Arguments
        ResultPath: "$"
        Parameters:
            "args.$": "States.JsonMerge($.inputDefaults, $$.Execution.Input, false)"
    "Check Arguments":
        Type: Choice
        Choices:
            -
                Variable: "$$.Execution.Input.player"
                IsPresent: false
                Next: Failure
            -
                Variable: "$$.Execution.Input.requestId"
                IsPresent: false
                Next: Failure
            -
                Variable: "$.args.address"
                IsPresent: false
                Next: Assign Address
        Default: Parse WML
    "Assign Address":
        Type: Task
        Next: Extract First Address
        Resource: "${AddressLookupFunctionArn}"
        Parameters:
            "assetIds.$": "States.Array($.args.assetId)"
        ResultPath: "$.addressList"
        Retry:
            -
                ErrorEquals:
                    - States.TaskFailed
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 1
    "Extract First Address":
        Type: Pass
        Parameters:
            "address.$": "$.addressList[0].address"
        ResultPath: "$.toMerge"
        Next: Merge Address
    "Merge Address":
        Type: Pass
        Parameters:
            "args.$": "States.JsonMerge($.args, $.toMerge, false)"
        ResultPath: "$"
        Next: Parse WML
    "Parse WML":
        Type: Task
        Next: Done
        Resource: "${ParseWMLFunctionArn}"
        InputPath: "$.args"
        Catch:
            -
                ErrorEquals:
                    - States.ALL
                Next: Failure
        ResultPath: null
    Failure:
        Type: Fail
    Done:
        Type: Succeed
